<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="E:\Gitgub\Restaurant\Restaurant\nlog\nlog.txt">

    <targets>
        <target name="allfile" xsi:type="File" fileName="E:\Gitgub\Restaurant\Restaurant\nlog\nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId}${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="exceptions" xsi:type="File" fileName="E:\Gitgub\Restaurant\Restaurant\nlog\nlog-all-exceptions-${shortdate}.log"
			   layout="${longdate}|${event-properties:item=EventId}${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="requestTime" xsi:type="File" fileName="E:\Gitgub\Restaurant\Restaurant\nlog\requestTime.log"
			   layout="${longdate}|${event-properties:item=EventId}${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI.Middleware.RequestTimeMieddleware" minlevel="Trace" writeTo="requestTime" />
    </rules>
</nlog>